{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Perfil</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>
	<div class="container">
    <h1 class="mt-12 mb-12">Perfil</h1>
    <hr />
    <p><a href="{ url 'meusdados'}">Meus Dados</a></p>
	<p><a href="{ url 'tipo'}">Tipos de Documentos</a></p>
	<p><a href="{ url 'documentos'}">Documentos</a></p>

   

 
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
