<html>
<head>
	<title></title>
</head>
<body>
<h1>Administração de Públicos</h1>
<a href="{% url 'publico_cadastro' %}">
    <button type="button">Cadastrar</button>
</a>

<p>Lista de Públicos:</p>

{% for publico in publicos %}
    <p>{{publico.nome}}
    	<a href="{% url 'publico_atualizar' publico.id %}">EDITAR</a>
    	<a href="{% url 'publico_deletar' publico.id %}">DELETAR</a>
    </p>
{% empty %}
    <p>Nenhum público cadastrada</p>
{% endfor %}


<p><a href="{% url 'index' %}">
    <button type="button">Voltar</button>
</a></p>
</body>
</html>